{{!-- <video autoplay muted loop id="myVideo">
        <source src="./images/170628_004.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
</video> --}}

<style>
    .background-image {
        position: fixed;
    }

    .card {
        position: relative;
        color: purple;
        width: 50%;
        opacity: 1;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

	.body {
		align-content: center;
	}
</style>

<div class="background-image">
    <img src="https://images.unsplash.com/photo-1509807995916-c332365e2d9e?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=moss-iRF0psyhz10-unsplash.jpg"
        style: width="100%" height="100%">
</div>



{{#each recipes}}
<div class="card">
    <div class="card-header text-center">
        <h1>{{name}}</h1>
    </div>
    <div class="card-body">
        <img src={{Picture.data}} alt={{name}} style="height: 200px; width: 200px; float: left;">

        <p>Rating: {{rating}}</p>


        <p>steps: {{steps}}</p>


        <p>ingredients: {{ingredients}}</p>




        <button data-recipe-id={{id}} class="like btn btn-primary">Like</button>


    </div>

</div>
{{/each}}